.main-div {
  /* height: 30vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.container h2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: #82e0aa;
  border-radius: 20px;
  border: none;
}

button:nth-child(even) {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: #82e0aa;
}

button:nth-child(odd) {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: #f7dc6f;
}