.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
}

.header img{
    width: 10%;
}

.header ul{
    display: flex;
    gap: 10px;
    font-size: 22px;
}

.header ul li{
    cursor: pointer;
}

.header ul li:hover{
    color: #E50914 ;
}

.card-heading{
    margin-bottom: 3.2rem;
    text-align: center;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 3.6rem 1.4rem;
}


.grid {
  display: grid;
  gap: 2rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}


.card{
    background-color: #f8eeee;
    max-width: 100%;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba((0,0,0,0.1), green, blue, alpha);
    padding: 20px;
}

.card_image{
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.card_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card h2{
    text-align: center;
    background-color: #E50914;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}

.card p{
    font-size: 18px;
    line-height: 1.5;
    /* margin-bottom: 10px; */
}

.card p::first-letter {
  font-size: 20px;
}


.card p span {
  font-weight: 900; 
  color: #E50914;
}

/* .card button{
    written in Card.jsx file for object inline css styling   
} */

.card button:hover {
  background-color: #c50914; /* Added hover effect */
}

.super_hit{
    background-color: #7dcea0;
}

.average{
    background-color: #f7dc6f;
}

.rating{
    padding: 0.3rem 1.8rem;
    color: #212121;
    margin-left: 1.2rem;
    border-radius: 100rem;
}

.footer{
    background-color: #E50914;
    padding: 0.5rem;
    color: #fff;
    text-align: center;
}